body {
    background-color: #221eff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
     background: white;
    padding: 25px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.H1{
   text-align: center;
}

.P1{
    text-align: center;
}
input [type=checkbox],[type=name], [type=username]{
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border-radius: 10px;
}

.password-box {
    display: flex;
    text-align: center;
    border-radius: 10px;
}

.password-box button {
    margin-left: 5px;
    cursor: pointer;
}  
.Pass{
    color:black;
    text-decoration: none;
    font-size: 12px;
    font-weight: normal;
    text-align: right;
    margin-bottom: 20px;
}
.ADD{
    border: 1px solid rgb(238, 233, 233);
    padding: 20px;
    background-color: rgb(29, 29, 202);
    margin: auto;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
}
.B1{
    padding: 10px;
    background-color: rgb(254, 254, 255);
    margin: auto;
    border-radius: 10px;
    border: 1px solid rgb(219, 217, 217);
    cursor: pointer;
    text-decoration-line: underline;
    text-align: center;
}